include ./shared/global/jade-helpers.jade

doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
  body.main-portfolio
    section.background--animated
      +svgIcon('cujojp', 'logo fill--white')
      .container
        .spacer-top-large
        .row
          div(class="col-10@sm col-push-1@sm")
            h1.type-header-1.type--white.text-align-center='My passion is in making beautiful responsive web applications.'
        .row
          div(class="col-8@sm col-offset-2@sm")
            p.type-body-2.text-align-center='Platea imperdiet dictum dictumst fringilla montes nostra, ullamcorper neque ridiculus posuere litora curae nam, scelerisque habitant at quisque elementum.'
      .spacer-top-large
    section.background--white
      .container
        .spacer-top-large
        .row
          div(class="col-8@sm")
            h3.type-header-2.type--pink-dark
              | A quick summary about me.
        .row
          div(class="col-6@sm col-push-1@sm")
            p.type-body-2.type--gray20
              | Fermentum condimentum iaculis quis tellus proin elementum aenean bibendum, pellentesque sociosqu in diam at ante cursus, sodales lectus litora semper integer curae lobortis.
              br 
              br 
              | Viverra semper ut tortor eros bibendum dolor nascetur duis ullamcorper aptent, in proin purus primis montes commodo libero consequat neque, nunc magnis augue vel taciti condimentum vivamus sem cursus. Condimentum a suspendisse non cras tempus in est, faucibus volutpat tincidunt nulla lorem conubia magnis, sed fames enim ante blandit tellus. 
              br 
              br 
              | Semper purus blandit ligula nisi aptent vel urna sagittis dui, vulputate aenean magnis ac nascetur hendrerit tellus aliquam, ipsum phasellus interdum posuere morbi euismod nec parturient. Posuere aliquet taciti tincidunt turpis metus hac nec eros, rhoncus cursus porttitor lorem at id convallis, viverra luctus felis montes torquent euismod ad. 
        .spacer-top-large
    section
        .spacer-top-large
        .row
          div(class="col-10@sm col-push-1@sm")
            h2.type-header-1.type--white.text-align-center
              | Lets get social.
        .row
          div(class="col-8@sm col-offset-2@sm")
            p.type-body-2.text-align-center='Platea imperdiet dictum dictumst fringilla montes nostra, ullamcorper neque ridiculus posuere litora curae nam, scelerisque habitant at quisque elementum.'
        .row
          div(class="col-8@sm col-offset-2@sm")

