.artist-item-wrap {
  display: flex;
  height: 70px;
  margin-bottom: 20px;
  transition: all 250ms ease-in;

  &--inactive--older {
    opacity: .35;
  }
  &--inactive--3 {
    opacity: .5;
  }
  &--inactive--2 {
    opacity: .65;
  }
  &--inactive--1 {
    opacity: .8;
  }
}
