.social-list {
  .social-list__wrapper {
    display: block;
    text-decoration: none;

    &:hover {
      .social-list__icon {
        transform: translate3d(0, -3px, 0);
      }
    }
  }

  .social-list__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .social-list__item {
    width: 130px;
  }

  .social-list__icon {
    margin-bottom: 10px;
    transition: 250ms all ease-in-out;
  }
}
