@font-face {
  font-family: 'Posterama';
  src: url('/src/fonts/Posterama1984-Bold.woff') format('opentype');
}
@font-face {
  font-family: 'Avant Garde Bold';
  src: url('/src/fonts/AvantGardeStd-Bk.woff') format('opentype');
}
@font-face {
  font-family: 'Avant Garde Demi';
  src: url('/src/fonts/AvantGardeStd-Demi.woff') format('opentype');
}
