@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=5bbf6f06-d191-4299-a581-6497ea2105ca");

@font-face{
  font-family:"AvenirNextW01-ThinItali";
  src:url("./fonts/41537dd7-434f-4f85-b9d9-a88b160bc18d.eot?#iefix");
  src:url("./fonts/41537dd7-434f-4f85-b9d9-a88b160bc18d.eot?#iefix") format("eot"),
      url("./fonts/ec2dd1bd-4391-4b89-bf85-1a2346ea4342.woff2") format("woff2"),
      url("./fonts/fcf6f211-efa2-40f6-9c6b-e0ca63b6ea60.woff") format("woff"),
      url("./fonts/60fcc194-9529-4b99-9506-cdb26642656a.ttf") format("truetype");
}
@font-face{
  font-family:"AvenirNextLTW01-Italic";
  src:url("./fonts/d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix");
  src:url("./fonts/d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix") format("eot"),
      url("./fonts/7377dbe6-f11a-4a05-b33c-bc8ce1f60f84.woff2") format("woff2"),
      url("./fonts/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff") format("woff"),
      url("./fonts/18839597-afa8-4f0b-9abb-4a30262d0da8.ttf") format("truetype");
}
@font-face{
  font-family:"AvenirNextW01-Regular";
  src:url("./fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
  src:url("./fonts/c8c628d4-177d-463a-93dd-01e996bcd645.eot?#iefix") format("eot"),
      url("./fonts/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"),
      url("./fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"),
      url("./fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype");
}

